
@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Book.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Book.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Light.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Light.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra Bold Ital';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin beforeLogo($url, $width, $height, $top, $right, $left, $bottom, $backcolor, $radius) {
    content: '';
    background-image: $url;
    position: absolute;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;   
    width: $width;
    height: $height;
    background-color: $backcolor;
    border-radius: $radius;
}

@mixin fontSize16TextGrey {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}

@mixin button-common2 ($color){
    padding: 18px 48px;
    display: inline-block;
    background-color: $color;
    border-radius: 3px;
    color: #fff;
}


$blue: #3D9CEA;
$orange: #FA955E;
$yellow: #FBDD7B;
$pink: #F6CAC9;
$lightblue: #C3EAF1;
$purple: #C2C1FF;
$sky: #B7E4FF;
$salatviy: #F4FFAD;


body{
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    background: #F9F8F8 url(../image/bg@2x.png);
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,a,p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}

.header{
    background: #F9F8F8;
    padding: 6px;
}

.headernav-ComInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #F9F8F8;
    &--leftcolumn{
        margin-left: 100px;
        &__link{
            font-style: normal;
            font-weight: 500;
            position: relative;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #333333;
            &:before{
                @include beforeLogo(url('../image/header/house.svg'), 14px, 14px, -0px, auto, -25px, 0, none, 0);
            }
        }
    }
    &-centerColumn{
        &__link{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            padding: 12px;
            position: relative;
            &:first-child:before{
                @include beforeLogo( url('../image/header/phone.svg'), 14px, 14px, 0, auto, -9px, 0, none, 0);
            }
            &:nth-child(2):before{
                @include beforeLogo( none, 6px, 6px, 0, auto, 0px, 0, #FFBD54, 50%);
            }
            &:nth-child(3):before{
                @include beforeLogo( none, 6px, 6px, 0, auto, 0px, 0, #FFBD54, 50%);
            }
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }
        }
    }
    &--rightColumn{
        &__date{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #333333;
            display: inline-block;
            padding: 9px;
            position: relative;
            &:first-child:before{
                @include beforeLogo( url('../image/header/calendar.svg'), 14px, 14px, 0, auto, -9px, 0, none, 0);
            }
        }
    }
}



.headerNavigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    display: flex;
    &-logo{
        position: absolute;
        left: -80px;
        &__image{
            object-fit: contain;
            width: 178px;
            height: 87px;
        }
    }
    &-menu{
        padding-left: 10%;
        &__item{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            padding: 20px 25px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                z-index: 1;
                background-color: #F0FFA2;
                width: 0;
                height: 3px;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                border-radius: 1px;
                margin: 0 auto;
            }
            &:hover:before{
                width: 100%;
                transition: all ease 1s;
            }
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }
        }
    }
}

// Common button

.button-common__link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    position: relative;
    padding: 20px;
    display: inline-block;
    &:before{
        @include beforeLogo(url('../image/header/pet.svg'), 23px, 21px, 0, auto, -13px, 0, none, 0);
    }
    &:hover{
        color: #FFBD54;
    }
    &:active{
        color: #333;
        opacity: 0.5;
    }
}


// Section 1 Uchin stillar

.Consection1{
    background-image: url(../image/header/toti.png), url(../image/header/petbackg.svg), url(../image/header/rat.png), url(../image/header/rabbit.png), url(../image/header/cat.png), url(../image/header/dog.png),url(../image/header/bigpet.svg);
    background-repeat: no-repeat;
    background-position: right 470px,right 530px,40px 500px, 190px 330px, 300px 330px, 50px 190px, 0 -100px;
    background-size: 200px 300px, 220px 380px,200px 200px, 250px 350px ,280px 330px ,330px 480px,contain;
    padding: 170px 0 350px;
}

.section1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    &-text{
        width: 50%;
        box-sizing: border-box;
        &__heading{
            font-style: normal;
            font-weight: bold;
            font-size: 70px;
            line-height: 64px;
            color: #333333;
        }
        &__span{
            color: #60C1E2;
        }
        &__paragraph{
            @include fontSize16TextGrey();
            margin-top: 20px;
        }
    }
    .button-common2{
        @include button-common2(#333333);
        margin-top: 20px;
        &:hover{
            background-color: #FFBD54;
        }
        &:active{
            opacity: 0.5;
        }
    }
}

// Section 2 uchun stillar

.section2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    &-blockquote{
        text-align: center;
        padding: 70px 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            border: 1px solid #DBDBDB;
            background-color: #DBDBDB;
            border-radius: 3px;
            top: 25px;
            bottom: 0;
            left: 40%;
        }
        &:after{
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            border: 1px solid #DBDBDB;
            background-color: #DBDBDB;
            top: 190px;
            bottom: 0;
            left: 40%;
            border-radius: 3px;
        }
        &__quote{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #949494;
            max-width: 753px;
            text-align: center;
            position: relative;
            &:before{
                content: url(../image/section1/uppercomma.svg);
                object-fit: contain;
                position: absolute;
                width: 42px;
                height: 42px;
                top: -50px;
                bottom: 0;
                left: -100px;
            }
            &:after{
                content: url(../image/section1/downcomma.svg);
                object-fit: contain;
                position: absolute;
                width: 42px;
                height: 42px;
                top: 70px;
                bottom: 0px;
                right: -100px;
            }
        }
    }
    &__heading{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin-top: 15px;
    }
    &__heading2{
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        color: #333333;
        margin-top: 200px;
    }
    &-cardContainer{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 80px;
        position: relative;
        &--rightabsolute{
            position: absolute;
            top: 40%;
            bottom: 0px;
            right: -80px;
            min-width: 50px;
            max-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__image{
                object-fit: contain;
            }
            &:hover{
                background-color: #fff;
            }
            &:active{
                opacity: 0.5;
                background-color: #fff;
            }
        }
        &--leftabsolute{
            position: absolute;
            top: 40%;
            bottom: 0px;
            left: -80px;
            min-width: 50px;
            max-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__image{
                object-fit: contain;
            }
            &:hover{
                background-color: #fff;
            }
            &:active{
                opacity: 0.5;
                background-color: #fff;
            }
        }
        &-card{
            text-align: center;
            background: #FFFFFF;
            border-radius: 5px 5px 0px 0px;
            padding: 30px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
            &:active{
                opacity: 0.5;
            }
        }
    }
    &-BigCard{
        padding: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        border-radius: 0px 5px 5px 5px;
        margin-top: 20px;
        &__image{
            object-fit: contain;
        }
        &-text{
            width: 45%;
            box-sizing: border-box;
            &__heading{
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 20px;
                color: #333333;
            }
            &__paragraph{
                @include fontSize16TextGrey();
                margin-top: 20px;
            }
            &--link{
                width: 100%;
                box-sizing: border-box;
                margin-top: 50px;
                &__link1{
                    position: relative;
                    margin-right: 50px;
                    @include button-common2(#FFBD54);
                    padding-left: 63px;
                    &:before{
                        content: '';
                        position: absolute;
                        background-image: url('../image/section1/money.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 21px;
                        height: 21px;
                        top: 35%;
                        bottom: 0;
                        left: 30px;
                    }
                    &:hover{
                        background-color: #333;
                    }
                    &:active{
                        opacity: 0.5;
                    }
                }
                &__link2{
                    position: relative;
                    @include button-common2(#333);
                    padding-left: 63px;
                    &:before{
                        content: '';
                        position: absolute;
                        background-image: url('../image/section1/documentLogo.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 21px;
                        height: 21px;
                        top: 35%;
                        bottom: 0;
                        left: 30px;
                    }
                    &:hover{
                        background-color: #FFBD54;
                    }
                    &:active{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}


.form{
    padding: 100px 0;
    background-image: url('../image/section2/backgroundImage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 235px;
}

.section3{
    display: flex;
    padding-left: 120px;
    &-function{
        position: relative;
        &__heading{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 20px;
            color: #FFFFFF;
        }
        &--forms{
            margin-top: 40px;
            &__input{
                background: #FFFFFF;
                border-radius: 5px;
                padding: 18px 22px;
                width: 335px;
                outline: none;
                border: 2px solid transparent;
                margin-right: 20px;
                &:focus{
                    border: 2px solid #FFBB36;
                }
            }
            &__button{
                @include button-common2(#333);
                outline: none;
                border: 2px solid #333;
            }
        }
        &__absolute{
            position: absolute;
            left: 570px;
            top: -204px;
            bottom: 0;
        }
    }
}




.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 156px;
    &__heading{
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 20px;
        color: #333333;
        text-align: center;
    }
    &-cardWrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 100px;
        width: 100%;
        box-sizing: border-box;
        &--card{
            background: #FEFEFE;
            border: 1px solid #E4E4E2;
            border-radius: 5px;
            max-width: 301px;
            &:hover{
                box-shadow: 0.5px 2px 3px 3px #949494;
            }
            &__image{
                object-fit: cover;
                width: 100%;
                box-sizing: border-box;
                border-radius: 5px 5px 0 0;
            }
            &-text{
                padding: 20px 30px 40px;
                display: block;
                &__date{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #949494;
                    display: block;
                    text-align: right;
                    margin-bottom: 15px;
                }
                &__heading{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 25px;
                    color: #000000;
                    margin-top: 15px;
                }
                &__paragraph{
                    @include fontSize16TextGrey();
                    display: block;
                    margin-top: 15px;
                }
                &__link{
                    position: relative;
                    font-style: normal;
                    font-weight: 500;
                    display: block;
                    font-size: 16px;
                    line-height: 21px;
                    color: #333333;
                    padding: 10px;
                    margin-top: 10px;
                    &:before{
                        @include beforeLogo(url('../image/header/pet.svg'), 23px, 21px, 0, auto, -13px, 0, none, 0);
                    }
                }
            }
        }
        &--bigCard{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 580px;
            background: #FFFFFF;
            border: 1px solid #F3F3F3;
            border-radius: 5px;
            &:hover{
                box-shadow: 0.5px 2px 3px 3px #949494;
            }
            &__image{
                object-fit: cover;
                width: 50%;
                min-height: 456px;
                box-sizing: border-box;
                border-radius: 5px 0px 0px 5px;
            }
            &-text{
                width: 50%;
                box-sizing: border-box;
                padding: 24px 30px;
                border-radius: 5px;
                &--linkCard{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &-container{
                        &__link{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            text-align: center;
                            color: #3D9CEA;
                            display: inline-block;
                        }
                    }
                    &__date{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        color: #949494;
                    }
                }
                &__heading{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 29px;
                    color: #333333;
                    margin-top: 32px;
                    display: inline-block
                }
                &__paragraph{
                    @include fontSize16TextGrey();
                    margin-top: 15px;
                    display: inline-block;
                }
                &__link{
                    position: relative;
                    font-style: normal;
                    font-weight: 500;
                    display: block;
                    font-size: 16px;
                    line-height: 21px;
                    color: #333333;
                    padding: 10px;
                    margin-top: 10px;
                    &:before{
                        @include beforeLogo(url('../image/header/pet.svg'), 23px, 21px, 0, auto, -13px, 0, none, 0);
                    }
                }
            }
        }
    }
}


// Section 5

.section5{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
    margin-top: 200px;
    &-map{
        width: 35%;
        box-sizing: border-box;
        &__googleMap{
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 704px;
            border: none;
        }
    }
    &-section5Form{
        width: 65%;
        box-sizing: border-box;
        background: #333;
        background-image: url('../image/section4/background.png');
        background-repeat: no-repeat;
        &-form{
            max-width: 375px;
            padding: 65px 165px;
            &__heading{
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 62px;
                color: #FFFFFF;
            }
            &__paragraph{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #949494;
                margin-top: 14px;
                margin-bottom: 14px;
            }
            &__input{
                padding: 16px 22px;
                width: 100%;
                box-sizing: border-box;
                margin-top: 14px;
            }
            &-textarea{
                width: 100%;
                box-sizing: border-box;
                border: 1px solid orange;
                margin-top: 14px;
                background-color: #fff;
                padding: 16px 22px;
                &__label{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: #949494;
                }
                &__textarea{
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    resize: none;
                    min-height: 165px;
                    outline: none;
                }
            }
            &__button{
                padding: 15px 50px;
                background-color: #FFBD54;
                border: none;
                outline: none;
                margin-top: 30px;
                color: #fff;
                
                &:active{
                    opacity: 0.5;
                }
            }
        }
    }
}


.footer{
    padding: 61px 66px;
    background-color: #f3f3f3;
    margin-top: 300px;
}

.section6{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &-unordered{
        display: block;
        &__list{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            margin-top: 14px;
            color: #333333;
            display: inline-block;
            padding: 7px;
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }
            &:nth-child(1){
                margin-top: 0;
            }
            &:nth-child(2){
                margin-top: 14px;
            }
            &:nth-child(3){
                margin-top: 14px;
            }
        }
    }
    &-date{
        &__days{
            display: block;
            position: relative;
            margin-bottom: 10px;
            &:first-child:before{
                @include beforeLogo( url('../image/header/calendar.svg'), 14px, 14px, 0, auto, -19px, 0, none, 0);
            }
        }
    }
    &__address{
        position: relative;
        display: inline-block;
        &:before{
            @include beforeLogo( url('../image/header/house.svg'), 14px, 14px, -25px, auto, -19px, 0, none, 0);
        }
    }
    &-phoneunordered{
        position: relative;
        &:before{
            @include beforeLogo( url('../image/header/phone.svg'), 14px, 14px, -65px, auto, -25px, 0, none, 0);
        }
        &__numberlist{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            display: inline-block;
            margin-bottom: 10px;
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }

        }
    }
    &__copyrightText{
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        margin-top: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #5C5C5C;
    }
}







