
@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Book.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Book.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Light.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Light.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra Bold Ital';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.eot');
    src: url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.woff') format('woff'),
        url('../font/transfonter.org-20201224-125507/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin beforeLogo($url, $width, $height, $top, $right, $left, $bottom, $backcolor, $radius) {
    content: '';
    background-image: $url;
    position: absolute;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;   
    width: $width;
    height: $height;
    background-color: $backcolor;
    border-radius: $radius;
}

@mixin fontSize16TextGrey {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}

@mixin button-common2 ($color){
    padding: 18px 48px;
    display: inline-block;
    background-color: $color;
    border-radius: 3px;
    color: #fff;
}


$blue: #3D9CEA;
$orange: #FA955E;
$yellow: #FBDD7B;
$pink: #F6CAC9;
$lightblue: #C3EAF1;
$purple: #C2C1FF;
$sky: #B7E4FF;
$salatviy: #F4FFAD;


body{
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    background: #F9F8F8 url(../image/bg@2x.png);
    background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}

.header{
    background: #F9F8F8;
    padding: 6px;
}

.headernav-ComInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #F9F8F8;
    &--leftcolumn{
        margin-left: 100px;
        &__link{
            font-style: normal;
            font-weight: 500;
            position: relative;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #333333;
            &:before{
                @include beforeLogo(url('../image/header/house.svg'), 14px, 14px, -0px, auto, -25px, 0, none, 0);
            }
        }
    }
    &-centerColumn{
        &__link{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            padding: 12px;
            position: relative;
            &:first-child:before{
                @include beforeLogo( url('../image/header/phone.svg'), 14px, 14px, 0, auto, -9px, 0, none, 0);
            }
            &:nth-child(2):before{
                @include beforeLogo( none, 6px, 6px, 0, auto, 0px, 0, #FFBD54, 50%);
            }
            &:nth-child(3):before{
                @include beforeLogo( none, 6px, 6px, 0, auto, 0px, 0, #FFBD54, 50%);
            }
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }
        }
    }
    &--rightColumn{
        &__date{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #333333;
            display: inline-block;
            padding: 9px;
            position: relative;
            &:first-child:before{
                @include beforeLogo( url('../image/header/calendar.svg'), 14px, 14px, 0, auto, -9px, 0, none, 0);
            }
        }
    }
}



.headerNavigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    display: flex;
    &-logo{
        position: absolute;
        left: -80px;
        &__image{
            object-fit: contain;
            width: 178px;
            height: 87px;
        }
    }
    &-menu{
        padding-left: 10%;
        &__item{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            padding: 20px 25px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            border-bottom: 3px solid transparent;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                z-index: 1;
                background-color: #F0FFA2;
                width: 0;
                height: 3px;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                border-radius: 1px;
                margin: 0 auto;
            }
            &:hover:before{
                width: 100%;
                transition: all ease 1s;
            }
            &:hover{
                color: #FFBD54;
            }
            &:active{
                color: #333;
                opacity: 0.5;
            }
        }
    }
}

// Common button

.button-common__link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    position: relative;
    padding: 20px;
    display: inline-block;
    &:before{
        @include beforeLogo(url('../image/header/pet.svg'), 23px, 21px, 0, auto, -13px, 0, none, 0);
    }
    &:hover{
        color: #FFBD54;
    }
    &:active{
        opacity: 0.5;
        color: #333;
    }
}


// Section 1 uchun stillar

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    &-leftColumn{
        width: 50%;
        box-sizing: border-box;
        &__heading{
            font-style: normal;
            font-weight: bold;
            font-size: 70px;
            line-height: 64px;
            color: #333333;
        }
        &__text{
            @include fontSize16TextGrey();
            margin-top: 27px;
        }
        &--CompanyInfo{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 117px;
            &-card{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                max-width: 30.3%;
                &__img{
                    object-fit: contain;
                }
                &__span{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    color: #333333;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    margin-top: 10px;
                }
            }
        }
    }
}


// Section 2 uchun stillar

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px;
    background-image: url('../image/section2/Group\ 22.svg');
    background-position: center;
    background-repeat: no-repeat;
    &-text{
        text-align: center;
        margin-top: 250px;
        &__paragraph{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            color: #333333;
            &:before{
                @include beforeLogo(url('../image/section2/lupa.svg'), 100px, 100px, 50px, 0, 130px, 0, none, 0);
            }
        }
    }
}

.section3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-rightcolumn{
        width: 65%;
        box-sizing: border-box;
        max-height: 466px;
        position: relative;
        &::before{
            @include beforeLogo(url('../image/section3/dog.png'), 443px, 324px, -700px, auto, 50px, 0, none,0);
        }
        &__map{
            width: 100%;
            box-sizing: border-box;
            min-height: 466px;
        }
    }
    &-leftcolumn{
        width: 35%;
        box-sizing: border-box;
        &__image{
            width: 100%;
            min-height: 466px;
            box-sizing: border-box;
            object-fit: cover;
            max-height: 466px;
        }
    }
}


// styles for footer

.footerMain{
    margin-top: 200px;
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    padding: 62px 0 30px;
}


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-firstColumn{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &__logo{
            object-fit: contain;
        }
        &-unordered{
            margin: 0;
            padding: 0;
            list-style-type: none;
            &__list{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: #333333;
                display: inline-block;
                margin-bottom: 14px;
                &:hover{
                    color: #FFBD54;
                }
                &:active{
                    opacity: 0.5;
                    color: #333;
                }

            }
        }
        &-address{
            position: relative;
            &:before{
                @include beforeLogo(url('../image/header/house.svg'), 14px, 14px, -20px, auto, -25px, 0, none, 0);
            }
        }
        &-date{
            &__day{
                display: block;
                margin-bottom: 5px;
                position: relative;
                &:first-child:before{
                    @include beforeLogo( url('../image/header/calendar.svg'), 14px, 14px, 0, auto, -25px, 0, none, 0);
                }
            }
        }
        &-phone{
            &__number{
                display: block;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #333333;
                margin-bottom: 14px;
                position: relative;
                &:first-child:before{
                    @include beforeLogo( url('../image/header/phone.svg'), 14px, 14px, 0, auto, -25px, 0, none, 0);
                }
                &:hover{
                    color: #FFBD54;
                }
                &:active{
                    opacity: 0.5;
                    color: #333;
                }
            }
        }
    }
    &-secondcolumn{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 28px;
        &__copyright{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #5C5C5C;
        }
    }
}






















